// SECTION :: START

.roadmap {
  position: relative;
  padding-top: 75px;
  padding-bottom: 100px;

  &__bg {
    z-index: 0;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1200px;
    height: calc(100% - 400px);
    margin-left: auto;
    margin-right: auto;

    img {
      position: absolute;
      display: block;
      max-width: 100%;
      height: auto;

      &:nth-of-type(1) {
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        top: 50px;
        right: 0;
      }
      &:nth-of-type(3) {
        top: 250px;
        left: 100px;
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
  }

  &__desc {
    width: 100%;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 75px;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    line-height: 1.6;
  }

  &__title {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
      text-align: center;
    }

    img {
      z-index: 0;
      position: absolute;
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
      @include adaptive(767) {
        left: 0;
        right: 0;
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
      }

      &:nth-of-type(1) {
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        right: 0;
        bottom: 0;
      }
    }
  }

  &__block {
    display: flex;

    &-wrapper {
      display: flex;
      flex-direction: column;

      > div {
        padding-bottom: 100px;
      }
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      max-width: 35%;
      padding-right: 60px;
    }

    &-middle {
      width: 90px;

      img {
        display: block;
        max-width: 10px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-right {
      flex: 1;
      min-width: 1px;
      max-width: 100%;
    }

    &-year {
      @extend %fontCheddarGothicSansIt;
      font-size: 80px;
      color: #5c5c5c;
      line-height: 1.2;
      text-transform: uppercase;

      span {
        color: #ffffff;
      }
    }

    &-progress {
      display: flex;
      align-items: center;

      &.is-active {
        .icon-font,
        span {
          color: #ff511c;
        }
      }

      .icon-font,
      span {
        color: #5c5c5c;
      }

      .icon-font {
        font-size: 18px;

        & + span {
          padding-left: 5px;
        }
      }

      span {
        font-size: 20px;
        font-style: italic;
        font-weight: 800;
      }
    }

    &-title {
      padding-bottom: 40px;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 40px;
      line-height: 1.2;
      font-weight: 700;
      font-style: italic;
    }

    &-desc {
      width: 100%;
      max-width: 500px;
      font-size: 16px;
      color: #ffffff;
      line-height: 1.6;
    }
  }
}

// SECTION :: END
