// HEADER :: START

nav#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left

        nav.header__nav
          a.is-active(href="#roadmap") ROADMAP
          a(href="#club") Club Physique
          a(href="#benefits") BENEFITS

      .header__wrapper-right
        div

          img.header__logo(src="img/logo.png" srcset="img/logo@2x.png 2x" alt="")

        .c-btn__wrapper.c-btn__wrapper--center
          a.c-btn(href="#")
            u.c-btn__mask
              i.icon-font.icon-discord
              != "Join Now"
            span
              i.ico-font.icon-discord
              != "Join Now"


// HEADER :: END
